body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Forside_oyg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.banekart {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Banekart_3.0_print.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
/* Rest of your CSS styles */


header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}




.container {
    position: relative;
    z-index: 1;
    background-color: #4CAF50;
    border-radius: 5px; /* Adding rounded corners */
    width: 100%; /* Set the width of the container */
    max-width: 300px; /* Set the maximum width to limit its size */
    margin:  auto; /* Center the container horizontally */
    top: 50px; /* Specify the distance from the top of the viewport when sticky */
    padding:10px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049; /* Darker green on hover */
}
